<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.june.northland">

    <application
        android:name=".base.app.NorthLandApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feature.login.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.character.CharacterConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.backpack.BackpackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.lineup.LineUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.practice.PracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.store.StoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.dungeon.DungeonBattleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.character.CharacterListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.character.CharacterDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".feature.character.equipment.EquipmentChooseActivity" />
        <activity
            android:name=".feature.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.store.RecruitResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.role.RoleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.dungeon.plot.PlotDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.dungeon.chapter.ChapterListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.dungeon.DungeonListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.taoism.TaoismActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.taoism.arena.ArenaListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>